<h1> <%= @bd.id ? 'edit billboard' : 'create billboard' %> </h1>
  <%= form_for @bd do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
  <%= f.submit %>
  <% end %>
